*{
  margin: 0;
}

body, html {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.container {
  overflow: hidden;
}



.grid{
  width: 200vw;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "content menu none";
  grid-template-columns: 2fr 1fr 3fr;
  grid-template-rows: 80vh;
  transition: transform 0.5s ease, grid-template-columns 0.5s ease;
}


.grid.collapsed {
  grid-template-columns: 3fr 1fr 2fr;
}

.header{
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vh;
  background: linear-gradient(to right, rgb(189, 189, 233), rgb(218, 152, 152));
  background-clip: text;
  color:transparent;
  margin: auto;
}

.content{
  grid-area: content;
  display: flex;
  justify-content: center;
}

.card{
  background-color: #fff;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 5vw;
  margin: 2vw;
  box-shadow: 0 8px 5px rgba(0,0,0,0.1);
}

.none{
  grid-area: none;
}

.square{
  max-width: 80vh;
}

#svgContainer {
  fill: #3498db;
}

#cursorPosition {
  padding: 5px;
}

#settings-button{
  position: absolute;
  right: 10px;
  top: 10px;
}

#settings-menu{
  grid-area: menu;
  overflow: scroll;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 5px;
  
  &::-moz-range-progress { 
    border-radius: 5px;
    height: 10px;
    background: #6498db; 
    /* 
    background: linear-gradient(90deg, #ddf, #fdd);
    */
  }
  
  &::-moz-range-thumb {
    opacity: 0.0;
    size: 15px;
    cursor: pointer;
    border-radius: 100%;
  } 

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    opacity: 0.0;
    size: 15px;
    cursor: pointer;
    border-radius: 100%;
  }
  
  &:hover{
    &::-moz-range-thumb{
      opacity: 1.0;
    }
    &::-webkit-slider-thumb {
      opacity: 1.0;
    }
  }
}

